@tailwind base;
@tailwind components;
@tailwind utilities;

.nav-link.active > div span {
  color: #146c94;
  font-weight: 600;
}

::-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar-track {
  background-color: #ffffff;
}

::-webkit-scrollbar-thumb {
  background-color: #146c94;
}
